body{
    background-color: pink;
}
.box{
    width: 1200px;
    height: 20px auto;
    background-color: white;
    margin: 20px auto;
}
.img{
    width: 50px;
    height: 50px;
}
.box-item1{
    width: 300px;
    height: 200px;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin: 0px 20px;
    background-color: white;
    border-top-left-radius: 20px ;
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-style: inset;
    border-top-color: red ;
}
.box-item2{
    width: 300px;
    height: 200px;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin: 0px 20px;
    background-color: white;
    border-top-left-radius: 20px ;
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-style: inset;
    border-top-color: green ;
}
.box-item3{
    width: 300px;
    height: 200px;
    padding: 16px 24px;
    text-align: center;
    float: left;
    margin: 0px 20px;
    box-sizing: border-box;
    background-color: white;
    border-top-left-radius: 20px ;
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-style: inset;
    border-top-color: orangered ;
}
.box-item4{
    width: 300px;
    height: 200px;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin: 30px 20px;
    background-color: white;
    border-top-left-radius: 20px ;
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-style: inset;
    border-top-color: aqua ;
}
.box-item5{
    width: 300px;
    height: 200px;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin: 30px 20px;
    background-color: white;
    border-top-left-radius: 20px ;
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-style: inset;
    border-top-color: yellow ;
}
.box-item6{
    width: 300px;
    height: 200px;
    padding: 16px 24px;
    text-align: center;
    float: left;
    margin: 30px 20px;
    box-sizing: border-box;
    background-color: white;
    border-top-left-radius: 20px ;
    border-top-right-radius: 40px ;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-style: inset;
    border-top-color: blue;
}